PORT=3001
AUTH_SECRET=secret-key
SUPABASE_URL=https://your-supabase-url.supabase.co
SUPABASE_ANON_KEY=your-supabase-anon-key
DATABASE_PASSWORD=your-database-password
SUPABASE_STORAGE_BUCKET=your-supabase-storage-bucket-name
